// views/homepage.pug
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='./public/css/style.css')
  body
    h1 Project Records
    // Link to the form
    a(href='/update-cobj') Add to this table

    // Note: We use 'data' here because that is what we passed from index.js
    if data && data.length > 0
      table
        thead
          tr
            th Name 
            th Summary
            th Project Manager
            th HubSpot ID

        tbody
          each record in data
            tr
              td= record.properties.name
              td= record.properties.summary
              td= record.properties.project_manager
              td= record.id
    else
      p No records found.
