doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/style.css")
  body
    header

    
      h1 Custom Objects List
      a(href="/update-cobj") Create New Custom Object

    main
      if !data || data.length === 0
        p No custom objects found.
      else
        .container
          each obj in data
            - const props = obj.properties || {}
            .item
              h3= props.name || 'Unnamed'
              p Type: #{props.title || 'N/A'}
              p Age: #{props.author || 'N/A'}
              p ID: #{obj.summary}

    footer
      p © 2025 HubSpot Integration Practicum
