doctype html
html
  head
    title= title
  body
    h1 Update Book

    form(action=`/update-book/${book.id}` method="POST")
      label Title:
      input(type="text" name="title" value=book.properties.Title)
      br

      label Author:
      input(type="text" name="author" value=book.properties.Author)
      br

      label Summary:
      input(type="text" name="summary" value=book.properties.Summary)
      br

      button(type="submit") Update Book
